<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        background: linear-gradient(to bottom, #33ccff 0%, #f3f0f1 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      h1 {
        text-align: center;
      }
    </style>
    <script src="Upload.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user_upload">Upload File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/heatmap">Heatmap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_stats">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin_c">Har file Stats</a>
        </li>
        <form action="/logout" method="POST">
          <button>Sign Out</button>
        </form>
      </ul>
    </nav>
    <br /><br /><br />
    <h1>File Upload</h1>
    <form
      action="/Upload"
      method="POST"
      id="Upload"
      enctype="multipart/form-data"
      accept=".har"
      multiple
    >
      <label>Επιλέξτε HAR Αρχείο</label>
      <input type="file" id="FileChosen" name="filename" accept=".har" />
      <br /><br />
      <button type="button" onclick="FileUpload()">Submit</button>
      <br /><br />
      <p>
        Do you Want to Edit your Profile?Click Here<a href="Edit"
          >Edit Profile
        </a>
      </p>
    </form>
  </body>
</html> -->
